.footer {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.time {
  position: absolute;
  left: 3rem;
}

.rules {
  position: absolute;
  right: 3rem;
}

.button {
  font-size: 2rem;
}
